<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    </head>

    <body>
        <header>
            <div class="menu">
                <div class="container">
                    <div class="logo">
                        <img src="{% static 'img/logo.jpg' %}" alt="">
                    </div>
                    <nav>
                        <ul class="lista-menu">
                            <li><a href="{% url 'index' %}">inicio</a></li>
                            <li><a href="{% url 'gallery' %}">menú</a></li>
                            <li><a href="{% url 'contact' %}">contacto y pedidos</a></li>
                            {% comment "" %}Verificación de cuenta de usuario{% endcomment %}
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="principal">
            <h1>Restaurant juanita</h1>
            {% block content %}{% endblock %}
        </div><!-- Fin .principal -->

        <footer>
            <div class="container">
                <p>Cristian Sáez Mardones - 2021 - Todos los derechos reservados &copy;</p>
            </div><!-- Fin .container -->
        </footer>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>