{% extends 'base.html' %}

<!-- Cambiamos el título del sitio -->
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="descripcion">
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam fringilla mi vitae hendrerit. Nullam eget iaculis ante. Nulla consectetur urna eu dui viverra, quis aliquet libero vehicula. Maecenas ac tempor enim, et gravida ante. Curabitur vel quam in nunc condimentum tincidunt. Nam quis consectetur purus. Maecenas sit amet orci mollis, tincidunt quam sed, dictum mi. Etiam convallis posuere sagittis. Vestibulum sit amet rutrum sapien. In lacinia mi sit amet urna faucibus consectetur.</p>

        <p>Etiam sollicitudin, massa nec malesuada ultrices, tellus felis consequat dui, vel hendrerit metus felis eget turpis. Aenean rutrum, felis sit amet sollicitudin porta, odio nulla vehicula nunc, eu eleifend velit tellus non sapien. In vitae leo pharetra, semper nunc at, iaculis metus. Nam consectetur eleifend tincidunt. Duis dictum metus nibh, vitae egestas ligula lobortis a. Morbi eu tellus non tellus vestibulum commodo lacinia at erat. In hac habitasse platea dictumst. Ut finibus suscipit dolor, a blandit elit accumsan eget.</p>
    </div>
</div>

<div class="container">
    <h2 class="slogan">Nuestra ubicación</h2>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.6233775308783!2d-70.6614819849519!3d-33.459117480771525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c51adcd3d43d%3A0x2df4e1ca72f938eb!2sSantiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1611765335726!5m2!1ses!2scl" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div><!-- Fin .container -->
{% endblock %}<!-- Block content -->